* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/chims.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(243, 238, 238);

}

.menu {
    /* border: 2px solid blue; */
    background-color: green;
    text-align: center;
    display: flex;
    height: 12vh;
}

.logo {
    font-size: 40px;
    font-family: system ui;
    font-weight: 600;
    text-decoration: none;
    color: red;
    width: 20%;
    margin: 20px;
}

.menu-items{
    width: 80%;
    margin: 20
    
}

.menu-items ul{
    /* border: 2px solid red; */
    display: flex;
    float: right;
    margin: 20px;
}
.menu-items ul li{
    list-style: none;
    margin: 30px;
    font-size: large;
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
    position: relative;
    top: -20px;
}

.menu-items ul li a{
    text-decoration: none;
}

.active, .menu-items ul li:hover{
    border-radius: 3px;
    background-color: greenyellow;

}
/* .menu-items ul li:hover{ */
    /* background-color: gray; */
    /* color: yellow; */
    /* height: 50px; */
    /* width: 20px; */
/* } */
